{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Ephemeris{% endblock %}

{% block content %}

<h1>Ephemeris for {{ target.name }} at {{observatory.short_name}} ({{observatory.obscode}})</h1>

<div class="row">
  <div class="col-md-10">
          <table id="ephemeris-table" class="table table-hover sortable">
          <thead>
            <tr>
              <th>Date/Time</th><th>RA</th><th>Dec</th><th>Mag</th><th>r (AU)</th><th>delta (AU)</th><th>Phase angle</th><th>Sky motion ("/min)</th><th>Sky motion PA</th>
            </tr>
          </thead>
          <tbody>
            {% for line in ephem_lines %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>{{ line.0 }}</td>
              <td>{{ line.1 }}</td>
              <td>{{ line.2 }}</td>
              <td>{{ line.3|floatformat:3 }}</td>
              <td>{{ line.4 }}</td>
              <td>{{ line.5 }}</td>
              <td>{{ line.6|floatformat:3 }}</td>
              <td>{{ line.7 }}</td>
              <td>{{ line.8|floatformat:3 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
</div>


{% endblock %}
